@layer components {
  @scope (.arrow-icon) {
    :scope {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      background-color: var(--clr-base-200);
      color: var(--clr-text-dim);
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;
      transition: background 0.2s, color 0.2s;
      font-size: 1.2rem;
      margin-right: 3px;
      margin-left: 3px;
    }
    :scope:hover {
      background-color: var(--clr-border);
    }
  }
  @scope (.nopage-icon) {
    :scope {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      background-color: var(--clr-bg);
      color: var(--clr-text-dim);
      display: flex;
      flex-direction: column;
      gap: 2px;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;
      transition: background 0.2s, color 0.2s;
      font-size: 1.2rem;
      margin-right: 3px;
      margin-left: 3px;
    }
    span {
      font-size: small;
      font-family: var(--font-pt);
      color: var(--clr-red);
      font-weight: 800;
    }
  }
  @scope (.page-pagination) {
    :scope {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      max-width: 70rem;
      background-color: var(--clr-bg-bright);
      margin: 30px auto;
      padding: 10px;
      border-radius: 50px;
    }
  }
}
